<!DOCTYPE html>
html(lang="es")
	head
		link(rel='icon', href='imgs/favicono.ico', type='image/gif')
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="/css/animate.css")
		meta(charset="UTF-8")
		title Caps 149
		script(src="/js/active.js")
	body
		block encabezado
	